.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.login-card {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

.login-card h1 {
    margin-bottom: 25px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box; 
    outline: none;
}

.input-field:focus {
    border-color: #850707;
}

.btn-login {
    width: 100%;
    padding: 12px;
    background-color: #e91414;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.btn-login:hover {
    background-color: #b60d0d;
    transform: scale(1.05);
}
.cancel{
    background: none;
    border: none;
    color: #828282ff;
    margin-top: 15px; 
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
}
.cancel:hover{
    transform: scale(1.05);
    color: rgb(107, 106, 106);
}

/* Link para cadastro */
.footer-link {
    margin-top: 20px;
    font-size: 14px;
}

.footer-link a {
    color: #e91414;
    text-decoration: none;
    font-weight: bold;
}
.footer-link a:hover{
    text-decoration: underline;
}